
.container{
  background-color: rgb(139, 177, 227);
  width:900px;
  height: 900px;
  display:grid;

}
.child{
    height: 122px;
    width: 122px;
    background-color: burlywood;
    text-align: center;
}


